<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ecoblog Homepage</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' type='image/x-icon' %}">
        <link rel="stylesheet" type="text/css" href="{% static './reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static './style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static './style-articles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7d54d2caeb.js" crossorigin="anonymous"></script>
    </head>

    <body id="blogarticle page top">
        <nav>
            <span id="confetti">🎉</span>
            <a href="{% url 'contact' %}" id="navcontact"><i class="fas fa-question"></i></a>
            <a href="/admin" id="navadmin" target="_blank"><i class="fas fa-user"></i></a>
            <a href="{% url 'home' %}" id="navhome" ><i class="fas fa-home"></i></a>
        </nav>
        
        <header>
            <!-- <img id="herobanner" src="https://images.unsplash.com/photo-1476231682828-37e571bc172f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2467&q=80" alt="headerImg"> -->
            <img id="herobanner" src="{{ article.featured_image_link }}" alt="Header Image">
            <span id="pageTitle">
                <h1>{{ article.headline }}</h1>
                <p>{{ article.description }}</p>
            </span>
        </header>

        <div id="pagecontents">
            <div id="beforeComments">
                <div id="articleTagSection">
                    <span id="tagLabel">Tags: </span>
                    <span class="articleTag">{{ article.get_tags_display }}</span>
                    <!-- {% for tag in article.tags %}
                        <span class="articleTag">environment</span>
                    {% endfor %} -->
                </div>
    
                <div id="articleDetails">
                    <p><span class="articleLabels">Author:</span> {{ request.user.first_name }} {{ request.user.last_name }}</p>
                    <p><span class="articleLabels">Posted:</span> {{ article.pub_date_time.month }}/{{ article.pub_date_time.day }}/{{ article.pub_date_time.year }} at {{ article.pub_date_time.time }}</p>
                </div>
    
                <div id="articleContent">
                    <p><span class="articleLabels">Read all about it:</span></p>
                    <p id="articleText">{{ article.text|linebreaks }}</p>
    
                    <p><span class="articleLabels">Wikipedia says:</span></p>
                    <p id="articleText">{{ article.wiki_excerpt|linebreaks }}</p>
                    <p>{{ article.get_headline }}</p>
                    <a id="visitWebsite" href="{{ article.website }}" target="_blank">Visit Website</a>
                </div>

                <div id="commentSection">
                    <p><span class="articleLabels">Comments:</span></p>
                    {% for comment in article.comment_set.all %}
                    <div id="commentBody">
                        <img src="https://thispersondoesnotexist.com/image" alt="Profile Picture">
                        <span>
                            <p id="commentAuthor">{{ comment.author }}</p>
                            <p id="commentTime">{{ comment.date_time }}</p>
                            <p id="commentContents">{{ comment.content }}</p>
                        </span>
                    </div>
                    {% endfor %}
                </div> 
            </div>

            {% include "./aside.html" %}
        </div>

        <footer>
            <p>© Ecoblog 2020</p>
        </footer>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static './confetti.js' %}"></script>
        <script src="{% static './script.js' %}"></script>
    </body>
</html>
