<!-- Aside HTML template -->
<aside id="sidebar">
    <h3>Featured Articles</h3>
    <div id="featuredArticles">
        <article>
            <span>
                <h4>Featured Article</h4>
                <p>Mazagran milk, turkish, in single origin aroma filter seasonal aromatic wings. Breve acerbic, cup, at roast sweet aromatic single shot eu spoon redeye. Affogato single shot, grounds dark java steamed caramelization. Skinny, roast acerbic doppio milk ristretto espresso extraction sugar carajillo bar white.</p>
            </span>
            <a id="readmore" href="{{ post.get_absolute_url }}">Read More</a>
        </article>
        <article>
            <span>
                <h4>Featured Article</h4>
                <p>Mazagran milk, turkish, in single origin aroma filter seasonal aromatic wings. Breve acerbic, cup, at roast sweet aromatic single shot eu spoon redeye. Affogato single shot, grounds dark java steamed caramelization. Skinny, roast acerbic doppio milk ristretto espresso extraction sugar carajillo bar white.</p>
            </span>
            <a id="readmore" href="{{ post.get_absolute_url }}">Read More</a>
        </article>
        <article>
            <span>
                <h4>Featured Article</h4>
                <p>Mazagran milk, turkish, in single origin aroma filter seasonal aromatic wings. Breve acerbic, cup, at roast sweet aromatic single shot eu spoon redeye. Affogato single shot, grounds dark java steamed caramelization. Skinny, roast acerbic doppio milk ristretto espresso extraction sugar carajillo bar white.</p>
            </span>
            <a id="readmore" href="{{ post.get_absolute_url }}">Read More</a>
        </article>
    </div>
</aside>
