
<form action="/thanks" method="get">
    <h3>Test Form</h3>
    <p>
        <label for="id_formmessage">Message:</label>
        <p>{{ method }}</p>
        <p>{{ message }}</p>
        <textarea name="formmessage" id="id_formmessage" placeholder="Area 51 Inquiry" required></textarea>
    </p>
    <p>
        <label for="id_pizzatopping">Favorite Topping:</label>
        <textarea name="pizzatopping" id="id_pizzatopping" placeholder="pepperoni" required></textarea>
    </p>
    <input id="submitbutton" type="submit" value="Submit Message">
</form>

<form action="/contact" method="get">
    <h3>Form to Contact</h3>
    <p>
        <label for="id_drink">Coke or Pepsi:</label>
        <textarea name="drink" id="id_drink" placeholder="sprite" required></textarea>
    </p>
    <input id="submitdrinkbutton" type="submit" value="send drink">
</form>
